.mypage-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 30px 0;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray-light);
  padding-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  background-color: var(--gray-light);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--gray-cool);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nickname {
  font-size: 18px;
  font-weight: var(--bold);
}

.student-id {
  font-size: 14px;
  color: var(--gray-dark);
}

.menu-tabs {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.menu-tabs .tab {
  background-color: transparent;
  background: none;
  border: none;
  font-weight: var(--medium);
  font-size: 14px;
  padding: 10px 0;
  color: var(--gray-dark);
  cursor: pointer;
  transition: color 0.2s, border-bottom 0.2s;
}

.menu-tabs .tab:hover {
  color: var(--blue-light);
  border-bottom: 2px solid var(--blue-light);
}

.menu-tabs .tab.active {
  color: var(--blue-light);
  border-bottom: 2px solid var(--blue-light);
}

.tab-content {
  width: 100%;
  margin-top: 20px;
}

.tab-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  background-color: var(--gray-light);
  border-radius: 10px;
  padding: 20px;
}

.hidden {
  display: none;
}

.info-row {
  background-color: white;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid var(--gray-cool);
}
