* {
  justify-content: center;
  align-items: center;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px 32px;
  margin-bottom: 50px;
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
}

.product-img-container {
  justify-content: space-between;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
  border: 1px solid #000;
  border-radius: 12px;
  background-image: url("../img/products/data-structure.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sold-out {
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: var(--bold);
  background-color: #fff;
  display: inline;
}

.like-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url("../img/icon/heart-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.product-text-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
}

.product-name,
.product-price,
.product-seller {
  width: 100%;
  display: flex;
  justify-content: left;
}

.product-name {
  font-size: 16px;
  font-weight: var(--demi-light);
}

.product-price {
  font-size: 16px;
  font-weight: var(--bold);
}

.product-seller {
  font-size: 10px;
  font-weight: var(--demi-light);
}
