main {
  padding-top: 50px;
}

.product-detail {
  display: flex;
  padding: 30px;
  gap: 40px;
}

.image-section {
  position: relative;
  display: inline-block;
}

.image-section img {
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.info-section {
  flex: 1;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.description {
  margin-top: 20px;
}

.info-section button {
  padding-right: 76px;
  padding-left: 76px;
  border: 1px solid var(--gray-cool);
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 6px;
}

#buyButton {
  padding-right: 148px;
  padding-left: 147px;
  margin-bottom: 10px;
  background-color: var(--gray-dark);
  color: white;
}

.detail {
  margin-top: 20px;
  margin-bottom: 20px;
}

.recommend-text {
  padding: 50px 0 16px 0;
  font-size: 20px;
  font-weight: var(--medium);
  padding-left: 10px;
}

.product-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 10px;
}

.product-item {
  text-align: center;
  width: 120px;
  flex-shrink: 0;
}

.product-item img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.product-name {
  margin-top: 8px;
  font-size: 14px;
}

@media (max-width: 850px) {
  .info-section button {
    padding-right: 5vw;
    padding-left: 5vw;
    border: 1px solid var(--gray-cool);
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
  }

  #buyButton {
    padding-right: 9vw;
    padding-left: 9vw;
    margin-bottom: 10px;
    background-color: var(--gray-dark);
    color: white;
  }
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .image-section img {
    width: 60vw;
    max-width: 240px;
  }

  .price {
    font-size: 20px;
  }

  .detail {
    font-size: 12px;
  }

  .info-section button {
    padding: 8px 40px;
    font-size: 14px;
  }

  #buyButton {
    padding: 8px 80px;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 12px;
    overflow-x: unset;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  .image-section img {
    width: 200px;
  }

  .price {
    font-size: 16px;
  }

  .info-section button {
    padding-right: 14vw;
    padding-left: 14vw;
  }

  #buyButton {
    width: 60vw;
    padding: 10px;
    text-align: center;
  }

  .recommend-text {
    font-size: 16px;
  }

  .product-item {
    width: 100px;
  }

  .product-item img {
    height: 120px;
  }

  .product-name {
    font-size: 12px;
  }
}
