.each-form-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  align-items: start;
}

.first .user-icon,
.second .user-icon,
.third .user-icon {
  width: 150px;
  border-radius: 0%;
  border: 20px solid var(--blue--light);
}

.first,
.second,
.third {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 3px;
}

.rank {
  font-size: 30px;
  font-weight: bold;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0px;
}

main h1 {
  margin-top: 13px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.chattingButton {
  display: flex;
  margin: 0px 0px 0px 35vw;
  background-color: rgb(0, 114, 206);
  color: white;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.line {
  height: 1px;
  background-color: gray;
  width: 100%;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .rank {
    font-size: 20px;
  }

  .name {
    font-size: 15px;
  }

  .numberOfTransactions {
    font-size: 10px;
  }

  .chattingButton {
    margin: 0 0 0 20vw;
    width: 70px;
    font-size: 15px;
  }

  .first .user-icon,
  .second .user-icon,
  .third .user-icon {
    width: 70px;
    border-radius: 0%;
    border: 20px solid var(--blue--light);
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 20px;
    text-align: center;
  }

  .chattingButton {
    margin: 0 0 0 10vw;
  }

  .rank {
    font-size: 20px;
  }
}
