* {
  justify-content: center;
  align-items: center;
}

#search-result {
  width: 100%;
  padding: 50px 0 8px 0;
  font-size: 24px;
  font-weight: var(--bold);
}

.category-btns-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.category-table-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  border: 1px solid var(--gray-cool);
  margin-top: -1px;
}

.category-name {
  display: flex;
  flex: 0 0 120px;
  box-sizing: border-box;
  background-color: #f7f7f8;
  border-right: 1px solid var(--gray-cool);
  font-size: 14px;
  font-weight: var(--medium);
}

.category-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  gap: 10px;
}

#firstCategory .category-btns-container {
  padding: 0 20px;
}

#secondCategory .category-btns-container {
  padding: 0 20px;
  overflow-x: auto;
}

#thirdCategory .category-btns-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.category-btn {
  min-width: fit-content;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
  font-weight: var(--light);
}

#secondCategory .category-btn {
  scroll-snap-align: start;
}

#thirdCategory .category-btn {
  width: 100%;
  height: 100%;
  padding: 18px 24px;
  border: 1px solid #f7f7f8;
  text-align: start;
  box-sizing: border-box;
  word-break: keep-all;
}

.category-btn:hover {
  color: var(--blue-light);
  font-weight: var(--medium);
}

#thirdCategory .category-btns-container {
  width: 100%;
  font-size: 14px;
  font-weight: var(--light);
  padding: 20px;
  margin-top: 1px;
}

#category-results {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: start;
  font-size: 14px;
  color: var(--blue-light);
  flex-wrap: wrap;
}

.category-apply-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: last baseline;
}

#filterCategoryBtn {
  min-width: fit-content;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: var(--blue-light);
  color: #fff;
  cursor: pointer;
}

#filterCategoryBtn:hover {
  background-color: var(--blue);
}

.about-search-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

#totalProduct {
  font-size: 16px;
  font-weight: var(--medium);
}

.order-by-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.order-by {
  padding: 8px 10px;
  font-size: 14px;
  font-weight: var(--light);
  cursor: pointer;
}
